.a-card {
    border-radius: 8px;
   
    background-color: #fff;
    margin-left: 0.2rem;
    padding: 0.2rem;
    max-width: 270px;
    width: 100%;
    margin-right: 0;
  }
  
  
  .a-chart-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
  }
  
  #a-chart {
    width: 100%;
  }
  .a-chart-header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
  }
  
  .a-series-item {
    display: flex;
    align-items: center;
  }
  
  .a-series-color {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
    padding: 1px;
  }
  
  .a-series-name {
    font-size: 12px;
  
  }

  select{
    font-size: 14px;
    background-color: #E4E8FD;
  }


