.sidebar {
  width: 250px;
  background-color: white;
  color: black;
  padding: 1rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -250px;
  transition: transform 0.3s ease-in-out;
  z-index: 1050;
}

.sidebar.open {
  transform: translateX(250px);
}

.sidebar.closed {
  transform: translateX(-250px);
}

.close-btn {
  position: absolute;
  top: 10px;
  left: 210px;
}

.navbar {
  z-index: 1060;
}
img{
  margin-left: 20px;
}
.fixed-top {
  position: fixed;
  top: 0;
  width: 100%;
}


.navbar-toggler {
  border: none;
  background: none;
  margin-right: -20px;
}

.main-content {
  background-color: #f4f5fa;
  height: 100vh;
  padding-left: 50px;
}

.nav{
  margin-top: 60px;
}

.nav-link {
  list-style: none;
  color: black;
}
.nav-list {
  display: flex;
  gap: 5px;
  margin-left: -20px;
  margin-bottom: -10px;
}

.nav-list p{
  font-weight: 600;
  font-size: 12px;
}

@media (max-width: 992px){
  .navbar-right,h6{
    visibility: hidden;
  }
  
}

@media (min-width: 992px) {
  
  .sidebar {
    left: 0;
    transform: translateX(0);
    
  }

  .sidebar.open {
    transform: translateX(0);
    
    
  }

  .sidebar.closed {
    transform: translateX(0);
    
  }

  .close-btn {
    left: 210px;
  }
  .main-content {
    margin-left: 250px;
  }
}

.footer-actions {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items:baseline;
  margin-bottom: 2px;
}

.footer-actions .button2{
  background-color: antiquewhite;
}

.footer-actions .button3{
  background-color: transparent;
  color: red;
}

.footer-actions > button {
  width: auto;
  display: flex;
  align-items: left;
  justify-content: left;
  gap: 4px; 
  margin-bottom: 2px;
  padding: 8px 10px;
  font-size: 14px;
}

.footer-actions i {
  font-size: 14px; /* Adjust icon size as needed */
  margin-top: 4px;
}


.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-brand {
  margin-left: 10px;
}

.dashboard-title {
  margin-left: 100px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px; /* Adjust gap as needed */
}

.notification-icon {
  cursor: pointer;
}

.profile-image {
  border-radius: 50%;
  cursor: pointer;
}

/* Optional: Style for the dropdown button */
.dropdown-toggle {
  cursor: pointer;
}